* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}


#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 20%;
  
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  
}



.counter {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
 justify-content: space-between;
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;

}

.planet_name {
  position: absolute;
  color: wheat;
  left: 3%;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 1s, visibility .2s;
}

.card:hover .planet_name {
  opacity: .7;
  visibility: visible;
}

.wrapper {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

 .card {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
}

.games_won {
  display: none;
}

.counter {
  flex-direction: column;
  gap: 10px;
}

}

.greeting_wrapper {
  text-align: center;
  z-index: 3;
  position: absolute;
  background-color: white;
  opacity: .9;
  color: black;
  height: 60%;
  margin-top: 20%;
}

footer {
  text-align: center;
}
